<div class="modal-header">
    <div class="tools"><a class="btn btn-default btn-sm" data-dismiss="modal" aria-label="Close">关闭</a></div>
    <h4 class="modal-title">选择地区</h4>
</div>
<div class="modal-body">
    <dl>
        <dt>热门城市</dt>
        <dd>
            <a href="#">上海</a>
            <a href="#">北京</a>
            <a href="#">成都</a>
            <a href="#">南京</a>
            <a href="#">全国</a>
        </dd>
    </dl>
    <hr>
    <dl>
        <dt>华北东北</dt>
        <dd>
            <a href="#">北京</a>
            <a href="#">大连</a>
            <a href="#">沈阳</a>
            <a href="#">天津</a>
            <a href="#">哈尔滨</a>
            <a href="#">长春</a>
            <a href="#">石家庄</a>
            <a href="#">唐山</a>
            <a href="#">太原</a>
            <a href="#">潍坊</a>
            <a href="#">济南</a>
            <a href="#">烟台</a>
            <a href="#">青岛</a>
        </dd>
    </dl>
    <dl>
        <dt>华东地区</dt>
        <dd>
            <a href="#">上海</a>
            <a href="#">南京</a>
            <a href="#">苏州</a>
            <a href="#">杭州</a>
            <a href="#">无锡</a>
            <a href="#">宁波</a>
            <a href="#">温州</a>
            <a href="#">常州</a>
            <a href="#">南通</a>
            <a href="#">徐州</a>
            <a href="#">台州</a>
            <a href="#">绍兴</a>
            <a href="#">金华</a>
        </dd>
    </dl>
    <dl>
        <dt>中部西部</dt>
        <dd>
            <a href="#">郑州</a>
            <a href="#">武汉</a>
            <a href="#">成都</a>
            <a href="#">重庆</a>
            <a href="#">西安</a>
            <a href="#">南昌</a>
            <a href="#">长沙</a>
            <a href="#">昆明</a>
            <a href="#">贵阳</a>
            <a href="#">合肥</a>            
        </dd>
    </dl>
    <dl>
        <dt>华南地区</dt>
        <dd>
            <a href="#">广州</a>
            <a href="#">深圳</a>
            <a href="#">东莞</a>
            <a href="#">南宁</a>
            <a href="#">厦门</a>
            <a href="#">泉州</a>
            <a href="#">佛山</a>
            <a href="#">福州</a>
        </dd>
    </dl>
</div>