.app-icon {
    .border-radius(3px);
    color: #fff;
    font-size: 12px;
    font-style: normal;
    .inline-block();
    height: 18px;
    line-height: 18px;
    text-align: center;
    width: 18px;
}

.app-icon-hui {
    background: @green-color ;
}

.app-icon-li {
    background: #ff5f88;
}

.app-icon-vip {
    background: @orange-color ;
    .border-radius(100px);
}

.icon-shoucang-color {
    color: @orange-color ;
}

.icon-shoucang-gray {
    color: #d2d2d2;
}

.app-icon-parking {
    background: @green-color ;
}

.icon-24 {
    background: transparent url(images/icon-24.png) no-repeat;
    .inline-block();
    height: 24px;
    width: 24px;
}

.icon-24-share-gray {
    background-position: 0 0;
}

.icon-24-share-color {
    background-position: 0 -24px;
}

.icon-24-glyl-white {
    background-position: 0 -48px;
}

.icon-24-glyl-color {
    background-position: 0 -72px;
}

.icon-24-kjph-white {
    background-position: 0 -96px;
}

.icon-24-kjph-color {
    background-position: 0 -120px;
}

.icon-24-kqhl-white {
    background-position: 0 -144px;
}

.icon-24-kqhl-color {
    background-position: 0 -168px;
}

.icon-24-mrys-white {
    background-position: 0 -192px;
}

.icon-24-mrys-color {
    background-position: 0 -216px;
}

.icon-24-tjjg-white {
    background-position: 0 -240px;
}

.icon-24-tjjg-color {
    background-position: 0 -264px;
}

.icon-24-zxss-white {
    background-position: 0 -288px;
}

.icon-24-zxss-color {
    background-position: 0 -312px;
}

.icon-24-zytl-white {
    background-position: 0 -336px;
}

.icon-24-zytl-color {
    background-position: 0 -360px;
}

.icon-24-zkjg-white {
    background-position: 0 -384px;
}

.icon-24-zkjg-color {
    background-position: 0 -408px;
}

.icon-backtop {
    background: transparent url(images/icon-24.png) no-repeat 0 -432px;
    .inline-block();
    height: 40px;
    width: 24px;
}

.icon-24-recommend {
    background-position: 0 -472px;
}

.icon-24-consutation {
    background-position: 0 -496px;
}

.icon-24-hot {
    background-position: 0 -520px;
}

.icon-24-checked {
    background-position: 0 -544px;
}

.icon-24-unchecked {
    background-position: 0 -568px;
}

.icon-64 {
    background: transparent url(images/icon-64.png) no-repeat;
    height: 64px;
    width: 64px;
    .inline-block();
}

.icon-64-recommend {
    background-position: 0 0;
    position: absolute;
    right: -20px;
    top: -20px;
}

.star {
    background: transparent url(images/star.png) no-repeat ;
    height : 20px ;
    .inline-block() ;
    width : 100px ;
}

.star-5 {
    background-position : 0 0 ;
}

.star-10 {
    background-position : 0 -20px ;
}

.star-15 {
    background-position : 0 -40px ;
}

.star-20 {
    background-position : 0 -60px ;
}

.star-25 {
    background-position : 0 -80px ;
}

.star-30 {
    background-position : 0 -100px ;
}

.star-35 {
    background-position : 0 -120px ;
}

.star-40 {
    background-position : 0 -140px ;
}

.star-45 {
    background-position : 0 -160px ;
}

.star-50 {
    background-position : 0 -180px ;
}